<header class="cabecalho bg">
    <% var inserir= "inserir"
    var busca= "buscar"
    var home= "index"%>
    <a href="/api/index"> <img src="/logoupe.png" alt="PDf online"></a>
    <nav>
        <li><a href="<%= home %>">Home</a> </li>
        <li><a href="<%= inserir %>">Inserir</a> </li>
    </nav>
</header>