<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <% include include/head.ejs %>
    <title>Home - Sistema</title>
</head>

<body>
    <% include include/header.ejs %>

    <main></main>






    <% include include/footer.ejs %>
    <% include include/scripts.ejs %>

</body>

</html>