<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include include/head.ejs %> 
</head>
<body>
    <% include include/header.ejs %> 
    <main class="container form form-group">
        <form action="busca" method="GET">
            <div class="form-group">
                <input class="form-control col-md-4" type="text" id="busca" name="b" placeholder="Busca pdf" required  autocomplete="off">
            </div>
            <button class="btn btn-outline-info"  type="submit">Buscar</button>
        </form>
    </main>
    <% include include/footer.ejs %>
    <% include include/scripts.ejs %>
    
</body>
</html>